<template>
  <v-row>
    <v-col class="mt-10 ml-15" cols="12" sm="6">
      <form>
        <!--Categories-->
        <label>Main Category *</label>
        <v-select v-model="category" label="Select Main Category" flat persistent-hint solo solo-inverted
                  :items="categories" item-text="name" item-value="id">
        </v-select>

        <!--Sub Categories-->
        <label>Sub Category *</label>
        <v-select v-model="subCategory" label="Select Sub Category" flat persistent-hint solo solo-inverted
                  :items="subCategories" item-text="name" item-value="id" @change="getProperties">
        </v-select>

        <!---Other properties Select-->
        <div class="item" v-for="(property, index) in properties" :key="index">
          <label>{{ property.name }}</label>
          <v-select v-model="currentProperty" :label="`Select ${property.name}`" flat persistent-hint solo solo-inverted
                    :items="property.options" item-text="name" item-value="id" @change="getOptions">
          </v-select>
          <div class="item" v-if="optionDiv" v-for="(option, index) in options" :key="index">
            <label>{{ option.name }}</label>
            <v-select v-model="currentOption" :label="`Select ${option.name}`" flat persistent-hint solo solo-inverted
                      :items="option.options" item-text="name" item-value="id">
            </v-select>
          </div>
        </div>

      </form>
    </v-col>
  </v-row>
</template>

<script>
import axios from 'axios';

export default {
  name: 'FormPage',

  asyncData({$axios}) {
    return $axios.$get("https://staging.mazaady.com/api/get_all_cats")
      .then(response => {
        return {
          categories: response.data.categories,
        }
      })
  },

  data() {
    return {
      category: null,
      currentProperty: null,
      currentOption: null,
      subCategory: null,
      categories: [],
      properties: [],
      options: [],
      optionDiv: false,
    }
  },
  computed: {
    subCategories() {
      return this.categories.filter((item) => item.id === this.category).map((item) => item.children)[0];
    },
  },
  methods: {
    getProperties(subCat) {
      axios.get(`https://staging.mazaady.com/api/properties?cat=${subCat}`)
        .then(response => {
          this.properties = response.data
        })

      this.properties = [
        {
          "id": 140,
          "name": "Brand",
          "description": null,
          "slug": "brand",
          "parent": null,
          "list": false,
          "type": null,
          "value": "",
          "other_value": null,
          "options": [
            {
              "id": 48192,
              "name": "10.Or ",
              "slug": "10or",
              "parent": 140,
              "child": false
            },
            {
              "id": 48193,
              "name": "A&K",
              "slug": "ak",
              "parent": 140,
              "child": false
            },
            {
              "id": 48194,
              "name": "Acer",
              "slug": "acer",
              "parent": 140,
              "child": false
            },
          ]
        },
        {
          "id": 141,
          "name": "Type",
          "description": null,
          "slug": "type",
          "parent": null,
          "list": false,
          "type": null,
          "value": "",
          "other_value": null,
          "options": [
            {
              "id": 949,
              "name": "Batteries",
              "slug": "batteries",
              "parent": 141,
              "child": false
            },
            {
              "id": 946,
              "name": "Charger - cables",
              "slug": "charger-cables",
              "parent": 141,
              "child": false
            }
          ]
        }, {
          "id": 143,
          "name": "Condition",
          "description": null,
          "slug": "condition",
          "parent": null,
          "list": false,
          "type": null,
          "value": "",
          "other_value": null,
          "options": [
            {
              "id": 256,
              "name": "New",
              "slug": "new",
              "parent": 143,
              "child": false
            },
            {
              "id": 257,
              "name": "Used",
              "slug": "used",
              "parent": 143,
              "child": false
            }
          ]
        },
        {
          "id": 9,
          "name": "Color",
          "description": null,
          "slug": "color",
          "parent": null,
          "list": false,
          "type": null,
          "value": "",
          "other_value": null,
          "options": [
            {
              "id": 894,
              "name": "Black",
              "slug": "black",
              "parent": 9,
              "child": false
            },
            {
              "id": 897,
              "name": "Blue",
              "slug": "blue",
              "parent": 9,
              "child": false
            },
            {
              "id": 901,
              "name": "Brown",
              "slug": "brown",
              "parent": 9,
              "child": false
            },
            {
              "id": 903,
              "name": "Golden",
              "slug": "golden",
              "parent": 9,
              "child": false
            },
            {
              "id": 898,
              "name": "Green",
              "slug": "green",
              "parent": 9,
              "child": false
            }
          ]
        }, {
          "id": 11,
          "name": "Odometer Unit",
          "description": null,
          "slug": "odometer-unit",
          "parent": null,
          "list": false,
          "type": null,
          "value": "",
          "other_value": null,
          "options": [
            {
              "id": 87,
              "name": "Km",
              "slug": "km",
              "parent": 11,
              "child": false
            },
            {
              "id": 88,
              "name": "Mile",
              "slug": "mile",
              "parent": 11,
              "child": false
            }
          ]
        },
        {
          "id": 12,
          "name": "Cylinders",
          "description": null,
          "slug": "cylinders",
          "parent": null,
          "list": false,
          "type": null,
          "value": "",
          "other_value": null,
          "options": [
            {
              "id": 904,
              "name": "1",
              "slug": "1",
              "parent": 12,
              "child": false
            },
            {
              "id": 911,
              "name": "10",
              "slug": "10",
              "parent": 12,
              "child": false
            },
            {
              "id": 912,
              "name": "12",
              "slug": "12",
              "parent": 12,
              "child": false
            },
            {
              "id": 905,
              "name": "2",
              "slug": "2",
              "parent": 12,
              "child": false
            },
            {
              "id": 906,
              "name": "3",
              "slug": "3",
              "parent": 12,
              "child": false
            },
            {
              "id": 907,
              "name": "4",
              "slug": "4",
              "parent": 12,
              "child": false
            }
          ]
        }
      ]
    },
    getOptions(property) {
      console.log(property)
      axios.get(`https://staging.mazaady.com/api/properties?cat=${property}`)
        .then(response => {
          this.options = response.data
        })

      this.options = [
        {
          "id": 645,
          "name": "Model",
          "description": null,
          "slug": "model",
          "parent": 53,
          "list": false,
          "type": null,
          "value": "",
          "other_value": null,
          "options": [
            {
              "id": 51371,
              "name": "A series",
              "slug": "a-series",
              "parent": 645,
              "child": true
            },
            {
              "id": 51370,
              "name": "E-TRON series",
              "slug": "e-tron-series",
              "parent": 645,
              "child": true
            },
            {
              "id": 51368,
              "name": "Q series",
              "slug": "q-series",
              "parent": 645,
              "child": true
            },
            {
              "id": 51375,
              "name": "R8 series",
              "slug": "r8-series",
              "parent": 645,
              "child": true
            },
            {
              "id": 51373,
              "name": "RS series",
              "slug": "rs-series",
              "parent": 645,
              "child": true
            },
            {
              "id": 51372,
              "name": "S series",
              "slug": "s-series",
              "parent": 645,
              "child": true
            },
            {
              "id": 51369,
              "name": "SQ series",
              "slug": "sq-series",
              "parent": 645,
              "child": true
            },
            {
              "id": 51374,
              "name": "TT series",
              "slug": "tt-series",
              "parent": 645,
              "child": true
            }
          ]
        }
      ]

      if (this.options)
        this.optionDiv = true
    },
  },
}
</script>
